<!-- views/partials/footer.ejs -->
<footer>
    <p>
        <span style="text-align:left;float:left"> WebSmartCamera 2017 &copy; 
            <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" 
            alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard Layout</a>
        </span>
    </p>
</footer>