<!-- views/partials/navbar_login.ejs -->

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/"><span><img src="/public/img/cog.png"></span><span> Web Smart Camera</span></a>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>           
        </div>
    </div>
</div>