<!-- views/pages/assistir.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>  
  <title><%= title %></title>
  <% include ../partials/head %> 
</head>
<body>
  <% include ../partials/navbar%>
  <div class="container-fluid-full" style="text-align:left">
    <div class="row-fluid">       
      <% include ../partials/sidebar_left %>    
      <div class = "content" style="text-align:center">
        <!-- Mude o src dessa tag para o nome do video que você possuir -->
        <video src="../../public/movies/<%= disciplina%>/<%= aula%>.mp4" controls width="640" height="480"></video>
      </div>
     </div>
  </div>
  <% include ../partials/footer %>    
  <% include ../partials/scripts %>     
</body>
</html>