<!-- views/pages/signup.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<% include ../partials/head %>
</head>
<body>
	<div class="navbar"><% include ../partials/navbar %></div>
	<div class="content">
		<div class="container">
			<div class="col-sm-6 col-sm-offset-3">
				<h1><span class="fa fa-sign-in"></span> Cadastro de Usuário </h1>

				<!-- show any messages that come back with authentication -->
				<% if (message.length > 0) { %>
					<div class="alert alert-sucess">
						<i class="icon-ok"></i>
						<%= message %>
					</div>
				<% } %>

				<!-- LOGIN FORM -->
				<form action="/signup" method="post">				
					<div class="form-group">
						<label for="tipoUsuario" > Tipo de usuário: </label>
						<select class="form-control" name="tipoUsuario" required> 
							<option disabled selected value> -- Selecione uma opção -- </option>                     
							<option value="aluno">Aluno</option>
							<option value="professor">Professor</option>
							<option value="administrador">Administrador</option>
						</select>
					</div>   
					<div class="form-group">
						<label>Nome</label>
						<input type="text" class="form-control" name="nome" required>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name="password" required>
					</div>
					<div class="form-group form-check-inline">
						<label>Sexo</label>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" 
								name="sexo" value="m" required> M
						</label>
					</div>
					<div class="form-group form-check-inline">
						<label class="form-check-label">
							<input class="form-check-input" type="radio"
								name="sexo" value="f" required> F
						</label>
					</div>
					<div class="form-group">
						<label>Matrícula</label>
						<input type="text" class="form-control" name="matricula" required>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control" name="email" required>
					</div>
					<button type="submit" class="btn btn-warning btn-lg">Cadastrar</button>
				</form>
				
				<h3><a href="home">Voltar à página principal</a></h3>
			</div>
		</div>
	</div>
	<% include ../partials/footer %>
	<% include ../partials/scripts %>
</body>
</html>