<!-- views/pages/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Web Smart Camera Software</title>
	<style type="text/css">
		#canvas-video {
			width: 640px;
			height: 480px;
			border: 1px solid #ccc;
		}
	</style>
	<% include ../partials/head %>
	<script src="/socket.io/socket.io.js"></script><!--NAO MUDAR!!-->
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>			
		$(function () {		
			var socket = io();		
			$('form').submit(function () {
				socket.emit('chat message', $('#mensagem').val());
				/**Emit the message from user to everybody*/
				$('#mensagem').val('');
				/**Clear the chat window */
				return false;
			});

			socket.on('chat message', function (msg) {
				var message_box = 
						'<li class="left">' 
						+ '<img class="avatar" alt="<%= user.username %>" src="/public/img/avatar.jpg">'
						+ '<span class="message">'
							+ '<span class="arrow"></span>'	
							+ '<span class="from"><%= user.username %> </span>'
							+ '<span class="time"> Jul 25, 2012 11:09</span>'					
							+ '<span class="text">'
								+ msg
							+ '</span>'
						+ '</span>'
					+ '</li>';
				$('#messages').append(message_box);
			});
				/**Instantiate message on chat*/
		});
	</script>
</head>

<body>
	<% include ../partials/navbar %>
	<div class="container-fluid-full">
		<div class="row-fluid">			
			<% include ../partials/sidebar_left %>				

			<!-- start: Content -->
			<div id="content" class="span10">
				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="listadisciplinas">Home</a>
						<i class="icon-angle-right"></i> 
						<li><a href="#">Video Chat</a></li>
				</ul>

				<div class="row-fluid">
					<!--start: VIDEO KIM EDISON -->
					<div class="box black span6 noMargin" onTablet="span6" 
						onDesktop="span8">
						<div class="box-header">
							<h2><i class="halflings-icon white list"></i>
							<span class="break"></span>Video Transmission</h2>
						</div>
						<div class="box-content">
							<canvas id="canvas-video" width="640" height="480"></canvas>
						</div>
					</div>
					<!--end: VIDEO KIM EDISON -->
					<!-- start: CHAT -->
					<div class="box black span6" onTablet="span6" 
						onDesktop="span4">
						<div class="box-header">
							<h2><i class="halflings-icon white comment"></i>
							<span class="break"></span>Chat Metro</h2>
							<div class="box-icon">
								<a href="#" class="btn-minimize">
									<i class="halflings-icon white chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="box-content">
							<ul class="chat metro yellow" id="messages" 
								style="overflow-y: scroll; height: 400px;">
								<!-- Mensagens geradas no chat -->
							</ul>
							<div class="chat-form black">
								<textarea id="mensagem"></textarea>
								<form action="">
									<button class="btn btn-warning">Send message</button>
								</form>
							</div>
						</div>
					</div>
					<!-- end: CHAT -->
				</div>
												
			</div>
		</div>
	</div>		
	<% include ../partials/footer %>		
	<% include ../partials/scripts %>

		<!--start: VIDEO EDISON KIM 
		<script src="/jsmpg.js"></script>
		<script type="text/javascript">
		// Show loading notice
		var canvas = document.getElementById('canvas-video');
		var ctx = canvas.getContext('2d');
		ctx.fillStyle = '#333'; //cor do quadrado do video
		ctx.fillText('Loading...', canvas.width/2-30, canvas.height/3);

		// Start the player
		var client = new WebSocket('ws://' + document.domain + ':8084');
		var player = new jsmpeg(client, { canvas:canvas });
		</script>
		<!end: VIDEO EDISON KIM -->
</body>
</html>