<!-- views/pages/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Web Smart Camera Software</title>
	<% include ../partials/head %>
	<script src="/socket.io/socket.io.js"></script><!--NAO MUDAR!!-->
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>			
		var user = '<%= user.nome %>';
		var data;

		$(function () {					
			var socket = io();		
			socket.emit('adduser', user);
			
			$('#chat').submit(function () {		
				var msg = $('#mensagem').val(); 		
				console.log("Mensagem: " + msg + " mandada por " + user );
				socket.emit('chat message', {
        	username: user,
       		message: msg
    		});
				/**Emit the message from user to everybody*/
				$('#mensagem').val('');
				/**Clear the chat window */
				return false;				
			});
			socket.on('chat message', function (data) {
				console.log("tentou mandar mensagem");
				var message_box = 
						'<li class="left">' 
						+ '<img class="avatar" alt="' + data.username + '" src="/public/img/user_upload_images/<%=user.image%>">'
						+ '<span class="message">'
							+ '<span class="arrow"></span>'	
							+ '<span class="from">' + data.username + '</span>'
							+ '<span class="time"> Jul 25, 2012 11:09</span>'					
							+ '<span class="text">'
								+ data.message
							+ '</span>'
						+ '</span>'
					+ '</li>';
				$('#messages').append(message_box);
			});
				/**Instantiate message on chat*/
		});
	
		
	</script>
</head>
<body>
	<% include ../partials/navbar %>
	<div class="container-fluid-full">
		<div class="row-fluid">
			<% include ../partials/sidebar_left %>
			<div id="content" class="span10">
				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="home">Home</a>
						<i class="icon-angle-right"></i> 
					</li>
					<li><a href="#">Video Chat</a></li>
				</ul>
				
				<div class="row-fluid">				

					<!--start: VIDEO KIM EDISON -->
					<div class="box black span6 noMargin" onTablet="span6" 
						onDesktop="span8">
						<div class="box-header">
							<h2><i class="halflings-icon white list"></i>
							<span class="break"></span>Video Transmission</h2>
						</div>
						<div class="box-content">
							<canvas id="video-canvas"></canvas>
							<script type="text/javascript" src="/jsmpeg.min.js"></script>
							<script type="text/javascript">
								var canvas = document.getElementById('video-canvas');
								var url = 'ws://'+document.location.hostname+':8082/';
								var player = new JSMpeg.Player(url, {canvas: canvas});
							</script>
						</div>
						<div align="right"> 
							<% if (tipoUsuario == "professor") { %>
								<button class= "btn btn-warning btn-setting"> Encerrar </button>
							<% } %>
						</div>
					</div>
					<!--end: VIDEO KIM EDISON -->


					<div class="modal hide fade" id="myModal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">×</button>
							<h3>Notificação</h3>
						</div>
						<div class="modal-body">
							<p>Salvar o vídeo?</p>
						</div>
						<div class="modal-footer">
							<a href="/homeSim" id ="sim" class="btn btn-primary">Sim</a>
							<a href="/homeNao" id="nao" class="btn btn-primary">Não</a>
							<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
						</div>
					</div>



					<!-- start: CHAT -->
					<div class="box black span6" onTablet="span6" 
						onDesktop="span4">
						<div class="box-header">
							<h2><i class="halflings-icon white comment"></i>
								<span class="break"></span>Chat Metro
							</h2>
							<div class="box-icon">
								<a href="#" class="btn-minimize">
									<i class="halflings-icon white chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="box-content">
							<ul class="chat metro yellow" id="messages" style="overflow-y: scroll; height: 400px;">
								<!-- Mensagens geradas no chat -->
							</ul>
							<div class="chat-form black">
								<textarea id="mensagem"></textarea>
								<form id="chat" action="">
									<button class="btn btn-warning"> Enviar </button>
								</form>
							</div>
						</div>
					</div>
					<!-- end: CHAT -->
					
				</div>

			</div>
		</div>
	</div>
	<% include ../partials/footer %>		
	<% include ../partials/scripts %>
</body>
</html>